@model IEnumerable<Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Jugadores</del></h1>

<p>
    <a asp-action="Create">Crear Nuevo Jugador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JugadorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marcador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ganadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perdidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empatadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JugadorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marcador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ganadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perdidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empatadas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JugadorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.JugadorId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.JugadorId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
