@model Partida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jugador1.JugadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jugador2.JugadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TurnoJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TurnoJugador.JugadorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartidaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
