@model IEnumerable<Partida>

@{
    ViewData["Title"] = "Index";
}

<h1>Partidas Actuales</h1>

<p>
    <a asp-action="Create">Crear Nueva Partida</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PartidaId)</th>
            <th>@Html.DisplayNameFor(model => model.FechaHora)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.Resultado)</th>
            <th>Jugador 1</th>
            <th>Jugador 2</th>
            <th>Turno Jugador</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.PartidaId</td>
            <td>@item.FechaHora</td>
            <td>@item.Estado</td>
            <td>@item.Resultado</td>
            <td>@item.Jugador1?.Nombre</td>
            <td>@item.Jugador2?.Nombre</td>
            <td>@item.TurnoJugador?.Nombre</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartidaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PartidaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PartidaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
