@model Jugador

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar - Jugador ID: @Html.DisplayFor(model => model.JugadorId)</h1>

<h3>¿Seguro que quieres eliminar al jugador(a)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marcador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marcador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ganadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ganadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perdidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perdidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empatadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empatadas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JugadorId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Vuelve a la lista</a>
    </form>
</div>
